@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  
  --font-size: 15px;
  --font-family: "Outfit", sans-serif;

  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card-container {
  width: 320px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
  overflow: hidden;
  text-align: center;
  padding: 16px 16px 40px 16px;
}

.card-image img {
  margin: 0px;
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}

.card-content {
  margin-top: var(--spacing-300);
  padding: 0px var(--spacing-200);
}

.card-title {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 120%;
  letter-spacing: 0px;
  color: var(--slate-900);
}

.card-text {
  margin-top: var(--spacing-200);
  font-size: 15px;
  color: var(--slate-500);
  line-height: 140%;
  letter-spacing: 0.2px;
}
